<h1>Editing Sponsor Type</h1>

<%= render 'form', sponsor_type: @sponsor_type %>

<%= link_to 'Show', @sponsor_type %> |
<%= link_to 'Destroy', @sponsor_type, method: :delete, data: { confirm: 'Are you sure? This will delete all rows associated with sponsors assigned to this type' } %> |
<%= link_to 'Back', sponsor_types_path %>
