<div class="nested-fields">
  <div class="field">
    <%= f.label :status %>
    <%= f.text_field :status, :size=>"25" %>
    <%= link_to_remove_association 'Remove Coordinator Status', f %>
  </div>
</div>
