<div class="nested-fields">
  <div class="field">
    <%= f.label :event_type %>
    <%= f.text_field :event_type, :size=>"25" %>
    <%= link_to_remove_association 'Remove Event Type', f %>
  </div>
</div>
