<div class="background">
<h1>Editing Event</h1>

<%= render 'form2', event: @event %>

<%= link_to 'Show', @event %> |
<%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure? This will delete all rows associated with this event' } %> |
<%= link_to 'Back', events_path %>
</div>
