<div class="background">
<h1>Editing Sponsor</h1>

<%= render 'form', sponsor: @sponsor %>

<%= link_to 'Show', @sponsor %> |
<%= link_to 'Destroy', @sponsor, method: :delete, data: { confirm: 'Are you sure? This will delete all rows associated with this sponsor' } %> |
<%= link_to 'Back', sponsors_path %>
</div>
