<div class="background">
<h1>New Coordinator Check In</h1>

<%= render 'form', coordinator_check_in: @coordinator_check_in %>

<%= link_to 'Back', coordinator_check_ins_path , class: "backbtn"%>
</div>
