<h1>Editing Coordinator Position</h1>

<%= render 'form', coordinator_position: @coordinator_position %>

<%= link_to 'Show', @coordinator_position %> |
<%= link_to 'Back', coordinator_positions_path %>
