<h1>Editing Coordinator Status</h1>

<%= render 'form', coordinator_status: @coordinator_status %>

<%= link_to 'Show', @coordinator_status %> |
<%= link_to 'Destroy', @coordinator_status, method: :delete, data: { confirm: 'Are you sure? This will delete all rows associated with coordinators assigned to this status' } %> |
<%= link_to 'Back', coordinator_statuses_path %>
