<div class="background">
<h1>Check In Menu</h1><br><br>
<div class = "center">
<%= link_to "Member Check In", member_check_ins_path, class: "check_in" %><br><br>
<%= link_to "Officer Check In", officer_check_ins_path, class: "check_in" %><br>
<div class = "center2"><br><%= link_to "Coordinator Check In", coordinator_check_ins_path, class: "check_in" %></div>
</div>
</div>
