<h1>Check In Menu</h1>
<%= link_to "Member Check In", member_check_ins_path, class: "w3-button w3-padding-large" %><br>
<%= link_to "Officer Check In", officer_check_ins_path, class: "w3-button w3-padding-large" %><br>
<%= link_to "Coordinator Check In", coordinator_check_ins_path, class: "w3-button w3-padding-large" %><br>
