// Place all the styles related to the Members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: sans-serif;
}
a {
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}
h1,h2,h3,h4,h5,h6 {margin: 0px;}

h1 {
  text-align: center;
}

p {margin: 0px;}

ul, li {
	margin: 0px;
	list-style-type: none;
}

button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
table * {
  position: relative;
}
table td, table th {
  padding-left: 8px;
}
table thead tr {
  height: 60px;
  background: #1ca0dd;
}
table tbody tr {
  height: 50px;
}
table tbody tr:last-child {
  border: 0;
}
table td, table th {
  text-align: left;
}
table td.l, table th.l {
  text-align: right;
}
table td.c, table th.c {
  text-align: center;
}
table td.r, table th.r {
  text-align: center;
}
.table101 {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.table100-head th{
  font-family: OpenSans-Regular;
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

tbody tr, tbody td {
  font-family: Lato-Regular;
  font-size: 16px;
  color: #808080;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:hover {
  color: #555555;
  background-color: #f5f5f5;
  cursor: pointer;
}

.column1 {
  width: 50px;
  padding-left: 40px;
}

.column2 {
	left: -2%;
  width: 30px;
}

.column3 {
	left: -2%;
  width: 30px;
}

.column4 {
  width: 30px;
}

.column5 {
  width: 30px;
}

.column6 {
	left: -4%;
  width: 30px;
}

.column7 {
  font-size: 12px;
  width: 10px;
}

.column8 {
  font-size: 12px;
  width: 10px
}

.column9 {
  font-size: 12px;
  width: 10px;
}
section {
  position: relative;
}
section.positioned {
  position: absolute;
  top:100px;
  left:100px;
  width:800px;
  box-shadow: 0 0 15px #333;
}
.add {
  box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background-color:#5abae6;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
  float: right;
}

.add:hover {
  background-color:#378de5;
}

.add:active {
  position:relative;
	top:1px;
}
